In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

In [2]:
#Merged data from the diagnostics.csv and faults.csv
combined = pd.read_csv("../big_g_express-domo-arigato-mr-robot/combined.csv")

/home/evgeniya/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
combined['EventTimeStamp'] = pd.to_datetime(combined['EventTimeStamp'])
combined["EquipmentID"]= combined["EquipmentID"].astype(str)

In [ ]:
#fully_derated_preceding = combined.loc[combined['EquipmentID'].isin(fully_derated['EquipmentID']), :]

In [4]:
combined['fully_derated'] = np.where((combined['spn'] ==5246) & (combined['fmi'] ==0), 1, 0)

In [6]:
combined['partially_derated'] = np.where((combined['spn'] ==1569) & (combined['fmi'] ==31), 1, 0)

In [7]:
combined.head()

,Unnamed: 0,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,...,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,fully_derated,partially_derated
0,0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,...,78.8,1023.0,True,NaN,0.0,3276.75,NaN,0.0,0,0
1,1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,...,NaN,1279.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,...,NaN,1279.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,...,NaN,1279.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,...,NaN,16639.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0

## ADD FIRST DERATE DATE FOR FULLY DERATED TRUCKS PER A TRUCK

In [8]:
combined.shape

(1187335, 50)

In [9]:
combined_min_date = combined.loc[combined['fully_derated'] ==1].groupby('EquipmentID').agg({'EventTimeStamp' : 'min'}).reset_index()

In [10]:
combined_min_date.rename(columns={'EventTimeStamp': 'first_derate_date'}, inplace=True)

In [11]:
combined = combined.sort_values(by = ['EventTimeStamp', 'EquipmentID'], ascending = [True, True])

In [12]:
combined_min_date.sort_values(by = ['first_derate_date', 'EquipmentID'], ascending = [True, True])

    EquipmentID   first_derate_date
200        2175 2011-01-01 00:03:23
118        1751 2011-01-01 00:03:34
29         1452 2011-01-01 00:04:57
14         1395 2015-02-21 12:10:51
92         1630 2015-02-23 05:05:44
..          ...                 ...
177        1947 2019-09-30 04:56:43
196        2089 2019-11-01 18:07:51
202        2211 2020-02-03 16:34:21
150        1854 2020-02-06 07:45:08
157        1872 2020-02-13 13:32:39

[204 rows x 2 columns]

In [13]:
combined = combined.merge(combined_min_date, on = ['EquipmentID'], how = 'left')

In [14]:
#indicate when truck id changes
combined['flipper'] = np.where((combined.EquipmentID != combined.EquipmentID.shift(1)), 1, 0)

In [15]:
combined = combined[combined['EquipmentID'].str.len()<6]

In [16]:
combined = combined[~((combined['Longitude'].astype('str').str.contains(r'-86.44\d+')) & (combined['Latitude'].astype('str').str.contains(r'-36.06\d+')))]

In [17]:
combined = combined[~((combined['Longitude'].astype('str').str.contains(r'-86.44\d+')) & (combined['Latitude'].astype('str').str.contains(r'-35.58\d+')))]

In [18]:
combined = combined[~((combined['Longitude'].astype('str').str.contains(r'-83.17\d+')) & (combined['Latitude'].astype('str').str.contains(r'-36.19\d+')))]

In [19]:
combined.shape

(1185166, 52)

In [20]:
#take out recs before 2015
combined = combined.loc[pd.DatetimeIndex(combined['EventTimeStamp']).year >=2015]
combined.shape

(1184648, 52)

## Grab all recodst before first derate signal

In [26]:
before_first_derate = combined.loc[combined['EventTimeStamp'] <=combined['first_derate_date']]

In [33]:
bfd = before_first_derate[(before_first_derate['fully_derated']==1) | (before_first_derate['partially_derated']==1)]

In [49]:
bfd_preceding = combined.loc[combined['EquipmentID'].isin(bfd['EquipmentID']), :]

In [36]:
#this was for partially and fully derated. The res was 350K records and 274 unique spns
#bfd_preceding = combined.loc[combined['EquipmentID'].isin(bfd['EquipmentID']), :]

In [50]:
bfd_preceding.set_index(['EventTimeStamp','EquipmentID'],inplace=True)

In [51]:
bfd_preceding_dedupe = bfd_preceding[~bfd_preceding.index.duplicated(keep='first')]

In [52]:
bfd_preceding_dedupe.shape

(321564, 50)

In [97]:
len(bfd_preceding_dedupe['spn'].unique())

274

In [159]:
test = bfd_preceding_dedupe[0:100 ]
test['spn_test'] = 1
test['spn_dupe'] = test['spn']
test

/tmp/ipykernel_4264/115509719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['spn_test'] = 1
/tmp/ipykernel_4264/115509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['spn_dupe'] = test['spn']

,,Unnamed: 0,RecordID,ESS_Id,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,...,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,fully_derated,partially_derated,first_derate_date,flipper,spn_test,spn_dupe
EventTimeStamp,EquipmentID,,,,,,,,,,,,,,,,,,,,,
2015-02-20 17:51:31,1488,1759,1760,1004537,NaN,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-02-12 09:46:11,1,1,523530
2015-02-21 11:40:22,1417,5,6,990431,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,...,13.602200,3276.75,NaN,6.67,0,0,2015-07-21 11:06:35,1,1,111
2015-02-21 11:41:55,1417,9,10,990446,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-07-21 11:06:35,1,1,111
2015-02-21 11:42:19,1582,10,11,990459,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,64.826490,3276.75,NaN,17.69,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 11:43:40,1582,13,14,990470,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 11:43:44,1417,61,62,991105,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,...,62.205080,3276.75,NaN,9.57,0,0,2015-07-21 11:06:35,1,1,111
2015-02-21 11:45:06,1601,15,16,990495,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 11:45:14,1601,16,17,990504,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,36.389050,3276.75,NaN,1.16,0,0,2016-04-24 14:07:08,0,1,111
2015-02-21 11:50:50,1590,24,25,990611,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,7.990445,3276.75,NaN,3.48,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 11:52:46,1605,25,26,990629,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 11:53:02,1585,27,28,990636,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187677*082113134117*07700053*I0*BBZ*,79619763,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-03-19 05:22:04,1,1,111
2015-02-21 11:53:52,1605,28,29,990653,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.29,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 12:01:10,1585,34,35,990771,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187677*082113134117*07700053*I0*BBZ*,79619763,6X1u10D1500000000,CMMNS,0,...,65.205140,3276.75,NaN,19.43,0,0,2017-03-19 05:22:04,1,1,111
2015-02-21 12:03:15,1586,57,58,991072,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187222*082113134117*07700053*I0*BBZ*,79619768,6X1u10D1500000000,CMMNS,0,...,0.000000,3276.75,NaN,1.16,0,0,2017-06-18 06:10:04,1,1,111
2015-02-21 12:04:50,1585,36,37,990818,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187677*082113134117*07700053*I0*BBZ*,79619763,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-03-19 05:22:04,1,1,111
2015-02-21 12:10:34,1585,85,86,991438,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187677*082113134117*07700053*I0*BBZ*,79619763,6X1u10D1500000000,CMMNS,0,...,65.826510,3276.75,NaN,13.92,0,0,2017-03-19 05:22:04,1,1,111
2015-02-21 12:10:51,1395,45,46,990931,NaN,NaN,04993120*00027849*082113134117*07700053*I0*BBZ*,79464664,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,1,0,2015-02-21 12:10:51,1,1,5246
2015-02-21 12:11:09,1590,43,44,990922,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 12:11:18,1601,44,45,990929,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 12:13:18,1586,59,60,991077,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187222*082113134117*07700053*I0*BBZ*,79619768,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-06-18 06:10:04,1,1,111
2015-02-21 12:14:49,1437,47,48,990985,Incorrect Data Brake Signal Sensor 2,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,1,1,1068
2015-02-21 12:14:51,1437,48,49,990990,Incorrect Data Brake Signal Sensor 2,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,0,1,1068
2015-02-21 12:19:44,1600,58,59,991076,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,36.321090,3276.75,NaN,25.81,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 12:21:08,1600,60,61,991102,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-10-17 05:20:24,0,1,111
2015-02-21 12:23:27,1582,62,63,991154,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,57.272950,3276.75,NaN,3.48,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 12:25:26,1630,66,67,991199,Low (Severity Medium) Engine Coolant Level,NaN,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,111
2015-02-21 12:25:37,1630,67,68,991200,Low (Severity High) Engine Coolant Level,NaN,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,...,0.000000,3276.75,0.0,0.58,0,0,2015-02-23 05:05:44,0,1,111
2015-02-21 12:25:44,1630,68,69,991201,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.58,0,0,2015-02-23 05:05:44,0,1,929
2015-02-21 12:26:40,1590,76,77,991266,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,34.126870,3276.75,NaN,8.12,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 12:27:17,1582,69,70,991205,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 12:33:45,1417,79,80,991314,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-07-21 11:06:35,1,1,111
2015-02-21 12:33:52,1630,80,81,991318,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,929
2015-02-21 12:35:04,1630,82,83,991336,Low (Severity Medium) Engine Coolant Level,NaN,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,0,1,111
2015-02-21 12:35:32,1630,83,84,991346,Low (Severity High) Engine Coolant Level,NaN,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,0,1,111
2015-02-21 12:37:29,1586,91,92,991469,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187222*082113134117*07700053*I0*BBZ*,79619768,6X1u10D1500000000,CMMNS,0,...,35.088050,3276.75,NaN,15.95,0,0,2017-06-18 06:10:04,1,1,111
2015-02-21 12:43:18,1630,116,117,991823,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.00,0,0,2015-02-23 05:05:44,1,1,929
2015-02-21 12:47:36,1585,92,93,991537,Low (Severity Low) Engine Coolant Level,NaN,04993120*00187677*082113134117*07700053*I0*BBZ*,79619763,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-03-19 05:22:04,1,1,111
2015-02-21 12:52:35,1595,101,102,991632,Low (Severity Low) Engine Coolant Level,NaN,04993120*00178272*082113134117*07700053*I0*BBZ*,79620767,6X1u10D1500000000,CMMNS,0,...,4.330181,3276.75,NaN,2.03,0,0,2015-06-11 15:24:41,1,1,111
2015-02-21 12:54:56,1601,102,103,991664,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,57.942860,3276.75,NaN,13.63,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 12:58:22,1595,104,105,991706,Low (Severity Low) Engine Coolant Level,NaN,04993120*00178272*082113134117*07700053*I0*BBZ*,79620767,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-06-11 15:24:41,1,1,111
2015-02-21 13:01:31,1600,108,109,991752,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,55.486510,3276.75,NaN,2.32,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 13:02:22,1590,109,110,991758,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 13:02:53,1600,110,111,991768,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 13:08:50,1605,118,119,991855,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 13:09:56,1605,121,122,991876,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,3.524340,3276.75,0.0,0.29,0,0,2016-06-27 13:49:41,0,1,929
2015-02-21 13:11:55,1590,123,124,991903,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,14.835240,3276.75,NaN,0.87,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 13:13:48,1590,126,127,991918,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 13:17:50,1601,139,140,991994,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 13:19:38,1601,157,158,992279,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,26.651000,3276.75,NaN,0.58,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 13:21:35,1605,143,144,992058,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 13:35:01,1582,158,159,992280,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,65.146890,3276.75,NaN,18.56,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 13:36:53,1630,159,160,992290,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,929
2015-02-21 13:37:19,1768,161,162,992308,Condition Exists Cruise Control Enable Switch,NaN,unknown,unknown,unknown,unknown,49,...,64.098320,3276.75,0.0,28.13,0,0,2019-03-26 07:37:57,1,1,596
2015-02-21 13:37:42,1582,160,161,992303,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-02-17 07:43:34,1,1,111
2015-02-21 13:38:37,1600,162,163,992362,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,60.273010,3276.75,NaN,26.68,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 13:39:39,1590,170,171,992501,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,47.020320,3276.75,NaN,27.55,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 13:43:56,1600,163,164,992380,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 13:51:00,1630,167,168,992487,Low Voltage (Power Supply (obsolete)),NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,627
2015-02-21 13:51:34,1437,166,167,992483,Incorrect Data Brake Signal Sensor 2,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,1,1,1068
2015-02-21 13:51:36,1437,168,169,992491,Incorrect Data Brake Signal Sensor 2,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,0,1,1068
2015-02-21 13:51:55,1605,169,170,992499,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.29,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 13:53:00,1437,182,183,992634,Not Reporting Data Front Operator Wiper Switch,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,NaN,2.90,0,0,2015-08-13 19:27:04,1,1,2863
2015-02-21 13:53:15,1657,171,172,992516,Special Instructions Wheel Sensor ABS Axle 1 R...,NaN,unknown,unknown,unknown,unknown,11,...,40.680400,3276.75,0.0,0.00,0,0,2016-05-01 18:09:01,1,1,790
2015-02-21 13:55:19,1590,176,177,992541,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 13:57:13,1595,179,180,992578,Low (Severity Low) Engine Coolant Level,NaN,04993120*00178272*082113134117*07700053*I0*BBZ*,79620767,6X1u10D1500000000,CMMNS,0,...,28.825800,3276.75,NaN,0.29,0,0,2015-06-11 15:24:41,1,1,111
2015-02-21 13:58:34,1595,180,181,992587,Low (Severity Low) Engine Coolant Level,NaN,04993120*00178272*082113134117*07700053*I0*BBZ*,79620767,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-06-11 15:24:41,1,1,111
2015-02-21 14:02:01,1437,181,182,992633,Incorrect Data Brake Signal Sensor 2,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,1,1,1068
2015-02-21 14:03:02,1437,184,185,992655,Not Reporting Data Front Operator Wiper Switch,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2015-08-13 19:27:04,0,1,2863
2015-02-21 14:03:17,1630,186,187,992662,Low Voltage (Power Supply (obsolete)),NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,627
2015-02-21 14:04:25,1630,188,189,992691,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.29,0,0,2015-02-23 05:05:44,0,1,929
2015-02-21 14:31:44,1657,206,207,993092,Condition Exists Cruise Control Enable Switch,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,1.45,0,0,2016-05-01 18:09:01,1,1,596
2015-02-21 14:32:27,1590,208,209,993103,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,65.088630,3276.75,NaN,8.99,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 14:35:55,1623,210,211,993142,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2017-03-23 16:22:21,1,1,929
2015-02-21 14:36:47,1605,233,234,993392,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 14:37:02,1623,212,213,993165,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,1.16,0,0,2017-03-23 16:22:21,1,1,929
2015-02-21 14:37:53,1605,234,235,993393,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,12.495390,3276.75,0.0,4.35,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 14:39:42,1590,216,217,993199,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 14:40:55,1623,218,219,993223,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2017-03-23 16:22:21,1,1,929
2015-02-21 14:43:39,1601,223,224,993256,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 14:44:43,1601,228,229,993291,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,2.097128,3276.75,NaN,0.58,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 14:53:01,1605,235,236,993395,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 14:53:43,1600,238,239,993425,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,49.845620,3276.75,NaN,6.67,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 14:57:41,1600,243,244,993476,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 15:00:08,1600,288,289,994021,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,60.544860,3276.75,NaN,17.40,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 15:04:55,1590,263,264,993725,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190040*082113134117*07700053*I0*BBZ*,79620774,6X1u10D1500000000,CMMNS,0,...,39.418240,3276.75,NaN,29.29,0,0,2015-09-10 06:45:08,1,1,111
2015-02-21 15:05:11,1605,270,271,993809,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.29,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 15:08:23,1630,259,260,993652,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2015-02-23 05:05:44,1,1,929
2015-02-21 15:15:35,1630,269,270,993774,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,0.000000,3276.75,0.0,0.29,0,0,2015-02-23 05:05:44,1,1,929
2015-02-21 15:19:34,1623,272,273,993828,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,8.106953,3276.75,0.0,3.48,0,0,2017-03-23 16:22:21,1,1,929
2015-02-21 15:22:57,1601,274,275,993865,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2016-04-24 14:07:08,1,1,111
2015-02-21 15:24:06,1605,280,281,993896,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 15:24:41,1605,314,315,994333,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,...,29.825820,3276.75,0.0,8.12,0,0,2016-06-27 13:49:41,1,1,929
2015-02-21 15:30:53,1566,284,285,993986,Low (Severity Low) Engine Coolant Level,NaN,04993120*00186314*040213150018*07700044*I0*BBZ*,79618543,6X1u10D1500000000,CMMNS,0,...,0.000000,3276.75,NaN,3.48,0,0,2015-11-20 07:56:15,1,1,111
2015-02-21 15:48:59,1657,302,303,994204,Condition Exists Cruise Control Enable Switch,NaN,unknown,unknown,unknown,unknown,49,...,NaN,NaN,NaN,NaN,0,0,2016-05-01 18:09:01,1,1,596
2015-02-21 15:49:51,1600,303,304,994216,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190983*060712145341*07700027*I0*BBZ*,79623054,6X1u10D1500000000,CMMNS,0,...,NaN,NaN,NaN,NaN,0,0,2017-10-17 05:20:24,1,1,111
2015-02-21 15:51:25,1657,304,305,994229,Special Instructions Wheel Sensor ABS Axle 1 R...,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,NaN,0,0,2016-05-01 18:09:01,1,1,790

In [160]:
pivoted_test= pd.pivot(test.reset_index(), index=['EventTimeStamp','EquipmentID', 'spn'], columns='spn_dupe', values = 'spn_test')

In [161]:
pivoted_test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 100 entries, (Timestamp('2015-02-20 17:51:31'), '1488', 523530) to (Timestamp('2015-02-21 16:09:45'), '1467', 111)
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   97      1 non-null      float64
 1   111     60 non-null     float64
 2   596     3 non-null      float64
 3   627     2 non-null      float64
 4   790     2 non-null      float64
 5   929     23 non-null     float64
 6   1068    5 non-null      float64
 7   2863    2 non-null      float64
 8   5246    1 non-null      float64
 9   523530  1 non-null      float64
dtypes: float64(10)
memory usage: 14.2+ KB

In [162]:
pivoted_test

,,spn_dupe,97,111,596,627,790,929,1068,2863,5246,523530
EventTimeStamp,EquipmentID,spn,,,,,,,,,,
2015-02-20 17:51:31,1488,523530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-21 11:40:22,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:41:55,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:42:19,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:43:40,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:43:44,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:45:06,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:45:14,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:50:50,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:52:46,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 11:53:02,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:53:52,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:01:10,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:03:15,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:04:50,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:10:34,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:10:51,1395,5246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2015-02-21 12:11:09,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:11:18,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:13:18,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:14:49,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 12:14:51,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 12:19:44,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:21:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:23:27,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:26,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:37,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:44,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:26:40,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:27:17,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:33:45,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:33:52,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:35:04,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:35:32,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:37:29,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:43:18,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:47:36,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:52:35,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:54:56,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:58:22,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:01:31,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:02:22,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:02:53,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:08:50,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:09:56,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:11:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:13:48,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:17:50,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:19:38,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:21:35,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:35:01,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:36:53,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:37:19,1768,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:37:42,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:38:37,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:39:39,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:43:56,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:51:00,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:51:34,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 13:51:36,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 13:51:55,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:53:00,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-02-21 13:53:15,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:55:19,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:57:13,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:58:34,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:02:01,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 14:03:02,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-02-21 14:03:17,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:04:25,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:31:44,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:32:27,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:35:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:36:47,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:37:02,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:37:53,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:39:42,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:40:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:43:39,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:44:43,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:53:01,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:53:43,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:57:41,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:00:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:04:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:05:11,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:08:23,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:15:35,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:19:34,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:22:57,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:24:06,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:24:41,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:30:53,1566,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:48:59,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:49:51,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:51:25,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:00:08,1467,97,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:00:18,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:02:23,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:09:45,1467,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
cols1 =pivoted_test.columns.to_list()

In [164]:
pivoted_test

,,spn_dupe,97,111,596,627,790,929,1068,2863,5246,523530
EventTimeStamp,EquipmentID,spn,,,,,,,,,,
2015-02-20 17:51:31,1488,523530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-21 11:40:22,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:41:55,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:42:19,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:43:40,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:43:44,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:45:06,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:45:14,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:50:50,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:52:46,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 11:53:02,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:53:52,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:01:10,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:03:15,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:04:50,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:10:34,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:10:51,1395,5246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2015-02-21 12:11:09,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:11:18,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:13:18,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:14:49,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 12:14:51,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 12:19:44,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:21:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:23:27,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:26,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:37,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:25:44,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:26:40,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:27:17,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:33:45,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:33:52,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:35:04,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:35:32,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:37:29,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:43:18,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 12:47:36,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:52:35,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:54:56,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 12:58:22,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:01:31,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:02:22,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:02:53,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:08:50,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:09:56,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:11:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:13:48,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:17:50,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:19:38,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:21:35,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:35:01,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:36:53,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:37:19,1768,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:37:42,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:38:37,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:39:39,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:43:56,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:51:00,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:51:34,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 13:51:36,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 13:51:55,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 13:53:00,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-02-21 13:53:15,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:55:19,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:57:13,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 13:58:34,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:02:01,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21 14:03:02,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-02-21 14:03:17,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:04:25,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:31:44,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:32:27,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:35:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:36:47,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:37:02,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:37:53,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:39:42,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:40:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:43:39,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:44:43,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:53:01,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 14:53:43,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 14:57:41,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:00:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:04:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:05:11,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:08:23,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:15:35,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:19:34,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:22:57,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:24:06,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:24:41,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2015-02-21 15:30:53,1566,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:48:59,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:49:51,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 15:51:25,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:00:08,1467,97,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:00:18,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:02:23,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 16:09:45,1467,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
pivoted_test = pivoted_test.sort_values(['EquipmentID', 'EventTimeStamp'], ascending = [True, True]).reset_index()

In [166]:
pivoted_test

spn_dupe,EventTimeStamp,EquipmentID,spn,97,111,596,627,790,929,1068,2863,5246,523530
0,2015-02-21 12:10:51,1395,5246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,2015-02-21 11:40:22,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-21 11:41:55,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-02-21 11:43:44,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-02-21 12:33:45,1417,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-02-21 12:14:49,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
6,2015-02-21 12:14:51,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7,2015-02-21 13:51:34,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8,2015-02-21 13:51:36,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
9,2015-02-21 13:53:00,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
10,2015-02-21 14:02:01,1437,1068,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
11,2015-02-21 14:03:02,1437,2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
12,2015-02-21 16:00:08,1467,97,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-02-21 16:09:45,1467,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-02-20 17:51:31,1488,523530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
15,2015-02-21 15:30:53,1566,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-02-21 11:42:19,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-02-21 11:43:40,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-02-21 12:23:27,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015-02-21 12:27:17,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-02-21 13:35:01,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-02-21 13:37:42,1582,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-02-21 11:53:02,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015-02-21 12:01:10,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015-02-21 12:04:50,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015-02-21 12:10:34,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015-02-21 12:47:36,1585,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015-02-21 12:03:15,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-02-21 12:13:18,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-02-21 12:37:29,1586,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2015-02-21 11:50:50,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2015-02-21 12:11:09,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2015-02-21 12:26:40,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2015-02-21 13:02:22,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2015-02-21 13:11:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2015-02-21 13:13:48,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2015-02-21 13:39:39,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2015-02-21 13:55:19,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2015-02-21 14:32:27,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2015-02-21 14:39:42,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2015-02-21 15:04:55,1590,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2015-02-21 12:52:35,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2015-02-21 12:58:22,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2015-02-21 13:57:13,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2015-02-21 13:58:34,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2015-02-21 16:00:18,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2015-02-21 16:02:23,1595,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2015-02-21 12:19:44,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2015-02-21 12:21:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2015-02-21 13:01:31,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2015-02-21 13:02:53,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2015-02-21 13:38:37,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2015-02-21 13:43:56,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2015-02-21 14:53:43,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2015-02-21 14:57:41,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2015-02-21 15:00:08,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2015-02-21 15:49:51,1600,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2015-02-21 11:45:06,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2015-02-21 11:45:14,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2015-02-21 12:11:18,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2015-02-21 12:54:56,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2015-02-21 13:17:50,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2015-02-21 13:19:38,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2015-02-21 14:43:39,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2015-02-21 14:44:43,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2015-02-21 15:22:57,1601,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2015-02-21 11:52:46,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
67,2015-02-21 11:53:52,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
68,2015-02-21 13:08:50,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
69,2015-02-21 13:09:56,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
70,2015-02-21 13:21:35,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
71,2015-02-21 13:51:55,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
72,2015-02-21 14:36:47,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
73,2015-02-21 14:37:53,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
74,2015-02-21 14:53:01,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
75,2015-02-21 15:05:11,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
76,2015-02-21 15:24:06,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
77,2015-02-21 15:24:41,1605,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
78,2015-02-21 14:35:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
79,2015-02-21 14:37:02,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
80,2015-02-21 14:40:55,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
81,2015-02-21 15:19:34,1623,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
82,2015-02-21 12:25:26,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2015-02-21 12:25:37,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2015-02-21 12:25:44,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
85,2015-02-21 12:33:52,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
86,2015-02-21 12:35:04,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2015-02-21 12:35:32,1630,111,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2015-02-21 12:43:18,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
89,2015-02-21 13:36:53,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
90,2015-02-21 13:51:00,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
91,2015-02-21 14:03:17,1630,627,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
92,2015-02-21 14:04:25,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
93,2015-02-21 15:08:23,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
94,2015-02-21 15:15:35,1630,929,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
95,2015-02-21 13:53:15,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
96,2015-02-21 14:31:44,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2015-02-21 15:48:59,1657,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2015-02-21 15:51:25,1657,790,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
99,2015-02-21 13:37:19,1768,596,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
pivoted_test = pivoted_test.reset_index(drop=True)
pivoted_test =pivoted_test.fillna(0)

In [168]:
pivoted_test

spn_dupe,EventTimeStamp,EquipmentID,spn,97,111,596,627,790,929,1068,2863,5246,523530
0,2015-02-21 12:10:51,1395,5246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2015-02-21 11:40:22,1417,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-02-21 11:41:55,1417,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-02-21 11:43:44,1417,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-02-21 12:33:45,1417,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-02-21 12:14:49,1437,1068,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,2015-02-21 12:14:51,1437,1068,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2015-02-21 13:51:34,1437,1068,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,2015-02-21 13:51:36,1437,1068,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,2015-02-21 13:53:00,1437,2863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,2015-02-21 14:02:01,1437,1068,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,2015-02-21 14:03:02,1437,2863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,2015-02-21 16:00:08,1467,97,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2015-02-21 16:09:45,1467,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2015-02-20 17:51:31,1488,523530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,2015-02-21 15:30:53,1566,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2015-02-21 11:42:19,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2015-02-21 11:43:40,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2015-02-21 12:23:27,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2015-02-21 12:27:17,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2015-02-21 13:35:01,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2015-02-21 13:37:42,1582,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2015-02-21 11:53:02,1585,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2015-02-21 12:01:10,1585,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2015-02-21 12:04:50,1585,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2015-02-21 12:10:34,1585,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2015-02-21 12:47:36,1585,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2015-02-21 12:03:15,1586,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2015-02-21 12:13:18,1586,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2015-02-21 12:37:29,1586,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2015-02-21 11:50:50,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2015-02-21 12:11:09,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2015-02-21 12:26:40,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2015-02-21 13:02:22,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2015-02-21 13:11:55,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,2015-02-21 13:13:48,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,2015-02-21 13:39:39,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,2015-02-21 13:55:19,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,2015-02-21 14:32:27,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,2015-02-21 14:39:42,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,2015-02-21 15:04:55,1590,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,2015-02-21 12:52:35,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,2015-02-21 12:58:22,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,2015-02-21 13:57:13,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,2015-02-21 13:58:34,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,2015-02-21 16:00:18,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,2015-02-21 16:02:23,1595,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,2015-02-21 12:19:44,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,2015-02-21 12:21:08,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,2015-02-21 13:01:31,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,2015-02-21 13:02:53,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,2015-02-21 13:38:37,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,2015-02-21 13:43:56,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,2015-02-21 14:53:43,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,2015-02-21 14:57:41,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,2015-02-21 15:00:08,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,2015-02-21 15:49:51,1600,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,2015-02-21 11:45:06,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,2015-02-21 11:45:14,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,2015-02-21 12:11:18,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,2015-02-21 12:54:56,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2015-02-21 13:17:50,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2015-02-21 13:19:38,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,2015-02-21 14:43:39,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,2015-02-21 14:44:43,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,2015-02-21 15:22:57,1601,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,2015-02-21 11:52:46,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
67,2015-02-21 11:53:52,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
68,2015-02-21 13:08:50,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
69,2015-02-21 13:09:56,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
70,2015-02-21 13:21:35,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
71,2015-02-21 13:51:55,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
72,2015-02-21 14:36:47,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
73,2015-02-21 14:37:53,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
74,2015-02-21 14:53:01,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
75,2015-02-21 15:05:11,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
76,2015-02-21 15:24:06,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
77,2015-02-21 15:24:41,1605,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
78,2015-02-21 14:35:55,1623,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
79,2015-02-21 14:37:02,1623,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
80,2015-02-21 14:40:55,1623,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
81,2015-02-21 15:19:34,1623,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
82,2015-02-21 12:25:26,1630,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,2015-02-21 12:25:37,1630,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,2015-02-21 12:25:44,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
85,2015-02-21 12:33:52,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
86,2015-02-21 12:35:04,1630,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,2015-02-21 12:35:32,1630,111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,2015-02-21 12:43:18,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89,2015-02-21 13:36:53,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
90,2015-02-21 13:51:00,1630,627,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
91,2015-02-21 14:03:17,1630,627,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
92,2015-02-21 14:04:25,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
93,2015-02-21 15:08:23,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
94,2015-02-21 15:15:35,1630,929,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
95,2015-02-21 13:53:15,1657,790,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
96,2015-02-21 14:31:44,1657,596,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,2015-02-21 15:48:59,1657,596,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,2015-02-21 15:51:25,1657,790,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99,2015-02-21 13:37:19,1768,596,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [169]:
pivoted_test =pivoted_test.set_index('EventTimeStamp')

In [170]:
pivoted_test.columns

Index(['EquipmentID', 'spn', 97, 111, 596, 627, 790, 929, 1068, 2863, 5246,
       523530],
      dtype='object', name='spn_dupe')

In [175]:
df = pivoted_test.groupby('EquipmentID')[cols1].rolling(window = '10T').sum()
df

spn_dupe                          97  111  596  627  790  929  1068  2863  \
EquipmentID EventTimeStamp
1395        2015-02-21 12:10:51  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0
1417        2015-02-21 11:40:22  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 11:41:55  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 11:43:44  0.0  3.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:33:45  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1437        2015-02-21 12:14:49  0.0  0.0  0.0  0.0  0.0  0.0   1.0   0.0
            2015-02-21 12:14:51  0.0  0.0  0.0  0.0  0.0  0.0   2.0   0.0
            2015-02-21 13:51:34  0.0  0.0  0.0  0.0  0.0  0.0   1.0   0.0
            2015-02-21 13:51:36  0.0  0.0  0.0  0.0  0.0  0.0   2.0   0.0
            2015-02-21 13:53:00  0.0  0.0  0.0  0.0  0.0  0.0   2.0   1.0
            2015-02-21 14:02:01  0.0  0.0  0.0  0.0  0.0  0.0   1.0   1.0
            2015-02-21 14:03:02  0.0  0.0  0.0  0.0  0.0  0.0   1.0   1.0
1467        2015-02-21 16:00:08  1.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 16:09:45  1.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1488        2015-02-20 17:51:31  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0
1566        2015-02-21 15:30:53  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1582        2015-02-21 11:42:19  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 11:43:40  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:23:27  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:27:17  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:35:01  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:37:42  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
1585        2015-02-21 11:53:02  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:01:10  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:04:50  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:10:34  0.0  3.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:47:36  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1586        2015-02-21 12:03:15  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:13:18  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:37:29  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1590        2015-02-21 11:50:50  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:11:09  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:26:40  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:02:22  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:11:55  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:13:48  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:39:39  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:55:19  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:32:27  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:39:42  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:04:55  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1595        2015-02-21 12:52:35  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:58:22  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:57:13  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:58:34  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 16:00:18  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 16:02:23  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
1600        2015-02-21 12:19:44  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:21:08  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:01:31  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:02:53  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:38:37  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:43:56  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:53:43  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:57:41  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:00:08  0.0  3.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:49:51  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1601        2015-02-21 11:45:06  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 11:45:14  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:11:18  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:54:56  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:17:50  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 13:19:38  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:43:39  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 14:44:43  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:22:57  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
1605        2015-02-21 11:52:46  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 11:53:52  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 13:08:50  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 13:09:56  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 13:21:35  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 13:51:55  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 14:36:47  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 14:37:53  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 14:53:01  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 15:05:11  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 15:24:06  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 15:24:41  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
1623        2015-02-21 14:35:55  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 14:37:02  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 14:40:55  0.0  0.0  0.0  0.0  0.0  3.0   0.0   0.0
            2015-02-21 15:19:34  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
1630        2015-02-21 12:25:26  0.0  1.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:25:37  0.0  2.0  0.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 12:25:44  0.0  2.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 12:33:52  0.0  2.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 12:35:04  0.0  3.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 12:35:32  0.0  3.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 12:43:18  0.0  2.0  0.0  0.0  0.0  2.0   0.0   0.0
            2015-02-21 13:36:53  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 13:51:00  0.0  0.0  0.0  1.0  0.0  0.0   0.0   0.0
            2015-02-21 14:03:17  0.0  0.0  0.0  1.0  0.0  0.0   0.0   0.0
            2015-02-21 14:04:25  0.0  0.0  0.0  1.0  0.0  1.0   0.0   0.0
            2015-02-21 15:08:23  0.0  0.0  0.0  0.0  0.0  1.0   0.0   0.0
            2015-02-21 15:15:35  0.0  0.0  0.0  0.0  0.0  2.0   0.0   0.0
1657        2015-02-21 13:53:15  0.0  0.0  0.0  0.0  1.0  0.0   0.0   0.0
            2015-02-21 14:31:44  0.0  0.0  1.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:48:59  0.0  0.0  1.0  0.0  0.0  0.0   0.0   0.0
            2015-02-21 15:51:25  0.0  0.0  1.0  0.0  1.0  0.0   0.0   0.0
1768        2015-02-21 13:37:19  0.0  0.0  1.0  0.0  0.0  0.0   0.0   0.0

spn_dupe                         5246  523530
EquipmentID EventTimeStamp
1395        2015-02-21 12:10:51   1.0     0.0
1417        2015-02-21 11:40:22   0.0     0.0
            2015-02-21 11:41:55   0.0     0.0
            2015-02-21 11:43:44   0.0     0.0
            2015-02-21 12:33:45   0.0     0.0
1437        2015-02-21 12:14:49   0.0     0.0
            2015-02-21 12:14:51   0.0     0.0
            2015-02-21 13:51:34   0.0     0.0
            2015-02-21 13:51:36   0.0     0.0
            2015-02-21 13:53:00   0.0     0.0
            2015-02-21 14:02:01   0.0     0.0
            2015-02-21 14:03:02   0.0     0.0
1467        2015-02-21 16:00:08   0.0     0.0
            2015-02-21 16:09:45   0.0     0.0
1488        2015-02-20 17:51:31   0.0     1.0
1566        2015-02-21 15:30:53   0.0     0.0
1582        2015-02-21 11:42:19   0.0     0.0
            2015-02-21 11:43:40   0.0     0.0
            2015-02-21 12:23:27   0.0     0.0
            2015-02-21 12:27:17   0.0     0.0
            2015-02-21 13:35:01   0.0     0.0
            2015-02-21 13:37:42   0.0     0.0
1585        2015-02-21 11:53:02   0.0     0.0
            2015-02-21 12:01:10   0.0     0.0
            2015-02-21 12:04:50   0.0     0.0
            2015-02-21 12:10:34   0.0     0.0
            2015-02-21 12:47:36   0.0     0.0
1586        2015-02-21 12:03:15   0.0     0.0
            2015-02-21 12:13:18   0.0     0.0
            2015-02-21 12:37:29   0.0     0.0
1590        2015-02-21 11:50:50   0.0     0.0
            2015-02-21 12:11:09   0.0     0.0
            2015-02-21 12:26:40   0.0     0.0
            2015-02-21 13:02:22   0.0     0.0
            2015-02-21 13:11:55   0.0     0.0
            2015-02-21 13:13:48   0.0     0.0
            2015-02-21 13:39:39   0.0     0.0
            2015-02-21 13:55:19   0.0     0.0
            2015-02-21 14:32:27   0.0     0.0
            2015-02-21 14:39:42   0.0     0.0
            2015-02-21 15:04:55   0.0     0.0
1595        2015-02-21 12:52:35   0.0     0.0
            2015-02-21 12:58:22   0.0     0.0
            2015-02-21 13:57:13   0.0     0.0
            2015-02-21 13:58:34   0.0     0.0
            2015-02-21 16:00:18   0.0     0.0
            2015-02-21 16:02:23   0.0     0.0
1600        2015-02-21 12:19:44   0.0     0.0
            2015-02-21 12:21:08   0.0     0.0
            2015-02-21 13:01:31   0.0     0.0
            2015-02-21 13:02:53   0.0     0.0
            2015-02-21 13:38:37   0.0     0.0
            2015-02-21 13:43:56   0.0     0.0
            2015-02-21 14:53:43   0.0     0.0
            2015-02-21 14:57:41   0.0     0.0
            2015-02-21 15:00:08   0.0     0.0
            2015-02-21 15:49:51   0.0     0.0
1601        2015-02-21 11:45:06   0.0     0.0
            2015-02-21 11:45:14   0.0     0.0
            2015-02-21 12:11:18   0.0     0.0
            2015-02-21 12:54:56   0.0     0.0
            2015-02-21 13:17:50   0.0     0.0
            2015-02-21 13:19:38   0.0     0.0
            2015-02-21 14:43:39   0.0     0.0
            2015-02-21 14:44:43   0.0     0.0
            2015-02-21 15:22:57   0.0     0.0
1605        2015-02-21 11:52:46   0.0     0.0
            2015-02-21 11:53:52   0.0     0.0
            2015-02-21 13:08:50   0.0     0.0
            2015-02-21 13:09:56   0.0     0.0
            2015-02-21 13:21:35   0.0     0.0
            2015-02-21 13:51:55   0.0     0.0
            2015-02-21 14:36:47   0.0     0.0
            2015-02-21 14:37:53   0.0     0.0
            2015-02-21 14:53:01   0.0     0.0
            2015-02-21 15:05:11   0.0     0.0
            2015-02-21 15:24:06   0.0     0.0
            2015-02-21 15:24:41   0.0     0.0
1623        2015-02-21 14:35:55   0.0     0.0
            2015-02-21 14:37:02   0.0     0.0
            2015-02-21 14:40:55   0.0     0.0
            2015-02-21 15:19:34   0.0     0.0
1630        2015-02-21 12:25:26   0.0     0.0
            2015-02-21 12:25:37   0.0     0.0
            2015-02-21 12:25:44   0.0     0.0
            2015-02-21 12:33:52   0.0     0.0
            2015-02-21 12:35:04   0.0     0.0
            2015-02-21 12:35:32   0.0     0.0
            2015-02-21 12:43:18   0.0     0.0
            2015-02-21 13:36:53   0.0     0.0
            2015-02-21 13:51:00   0.0     0.0
            2015-02-21 14:03:17   0.0     0.0
            2015-02-21 14:04:25   0.0     0.0
            2015-02-21 15:08:23   0.0     0.0
            2015-02-21 15:15:35   0.0     0.0
1657        2015-02-21 13:53:15   0.0     0.0
            2015-02-21 14:31:44   0.0     0.0
            2015-02-21 15:48:59   0.0     0.0
            2015-02-21 15:51:25   0.0     0.0
1768        2015-02-21 13:37:19   0.0     0.0

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 100 entries, ('1395', Timestamp('2015-02-21 12:10:51')) to ('1768', Timestamp('2015-02-21 13:37:19'))
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   97      100 non-null    float64
 1   111     100 non-null    float64
 2   596     100 non-null    float64
 3   627     100 non-null    float64
 4   790     100 non-null    float64
 5   929     100 non-null    float64
 6   1068    100 non-null    float64
 7   2863    100 non-null    float64
 8   5246    100 non-null    float64
 9   523530  100 non-null    float64
dtypes: float64(10)
memory usage: 13.1+ KB

In [156]:
pd.set_option("display.max_rows",100)

In [157]:
df

spn                               97   111  596  627  790   929  1068  2863  \
EquipmentID EventTimeStamp
1395        2015-02-21 12:10:51  0.0   0.0  0.0  0.0  0.0   0.0   0.0   0.0
1417        2015-02-21 11:40:22  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 11:41:55  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 11:43:44  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:33:45  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
1437        2015-02-21 12:14:49  0.0   0.0  0.0  0.0  0.0   0.0   1.0   0.0
            2015-02-21 12:14:51  0.0   0.0  0.0  0.0  0.0   0.0   2.0   0.0
            2015-02-21 13:51:34  0.0   0.0  0.0  0.0  0.0   0.0   3.0   0.0
            2015-02-21 13:51:36  0.0   0.0  0.0  0.0  0.0   0.0   4.0   0.0
            2015-02-21 13:53:00  0.0   0.0  0.0  0.0  0.0   0.0   4.0   1.0
            2015-02-21 14:02:01  0.0   0.0  0.0  0.0  0.0   0.0   5.0   1.0
            2015-02-21 14:03:02  0.0   0.0  0.0  0.0  0.0   0.0   5.0   2.0
1467        2015-02-21 16:00:08  1.0   0.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 16:09:45  1.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
1488        2015-02-20 17:51:31  0.0   0.0  0.0  0.0  0.0   0.0   0.0   0.0
1566        2015-02-21 15:30:53  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
1582        2015-02-21 11:42:19  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 11:43:40  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:23:27  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:27:17  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:35:01  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:37:42  0.0   6.0  0.0  0.0  0.0   0.0   0.0   0.0
1585        2015-02-21 11:53:02  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:01:10  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:04:50  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:10:34  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:47:36  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
1586        2015-02-21 12:03:15  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:13:18  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:37:29  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
1590        2015-02-21 11:50:50  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:11:09  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:26:40  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:02:22  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:11:55  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:13:48  0.0   6.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:39:39  0.0   7.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:55:19  0.0   8.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:32:27  0.0   9.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:39:42  0.0  10.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 15:04:55  0.0  11.0  0.0  0.0  0.0   0.0   0.0   0.0
1595        2015-02-21 12:52:35  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:58:22  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:57:13  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:58:34  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 16:00:18  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 16:02:23  0.0   6.0  0.0  0.0  0.0   0.0   0.0   0.0
1600        2015-02-21 12:19:44  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:21:08  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:01:31  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:02:53  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:38:37  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:43:56  0.0   6.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:53:43  0.0   7.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:57:41  0.0   8.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 15:00:08  0.0   9.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 15:49:51  0.0  10.0  0.0  0.0  0.0   0.0   0.0   0.0
1601        2015-02-21 11:45:06  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 11:45:14  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:11:18  0.0   3.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:54:56  0.0   4.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:17:50  0.0   5.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 13:19:38  0.0   6.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:43:39  0.0   7.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 14:44:43  0.0   8.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 15:22:57  0.0   9.0  0.0  0.0  0.0   0.0   0.0   0.0
1605        2015-02-21 11:52:46  0.0   0.0  0.0  0.0  0.0   1.0   0.0   0.0
            2015-02-21 11:53:52  0.0   0.0  0.0  0.0  0.0   2.0   0.0   0.0
            2015-02-21 13:08:50  0.0   0.0  0.0  0.0  0.0   3.0   0.0   0.0
            2015-02-21 13:09:56  0.0   0.0  0.0  0.0  0.0   4.0   0.0   0.0
            2015-02-21 13:21:35  0.0   0.0  0.0  0.0  0.0   5.0   0.0   0.0
            2015-02-21 13:51:55  0.0   0.0  0.0  0.0  0.0   6.0   0.0   0.0
            2015-02-21 14:36:47  0.0   0.0  0.0  0.0  0.0   7.0   0.0   0.0
            2015-02-21 14:37:53  0.0   0.0  0.0  0.0  0.0   8.0   0.0   0.0
            2015-02-21 14:53:01  0.0   0.0  0.0  0.0  0.0   9.0   0.0   0.0
            2015-02-21 15:05:11  0.0   0.0  0.0  0.0  0.0  10.0   0.0   0.0
            2015-02-21 15:24:06  0.0   0.0  0.0  0.0  0.0  11.0   0.0   0.0
            2015-02-21 15:24:41  0.0   0.0  0.0  0.0  0.0  12.0   0.0   0.0
1623        2015-02-21 14:35:55  0.0   0.0  0.0  0.0  0.0   1.0   0.0   0.0
            2015-02-21 14:37:02  0.0   0.0  0.0  0.0  0.0   2.0   0.0   0.0
            2015-02-21 14:40:55  0.0   0.0  0.0  0.0  0.0   3.0   0.0   0.0
            2015-02-21 15:19:34  0.0   0.0  0.0  0.0  0.0   4.0   0.0   0.0
1630        2015-02-21 12:25:26  0.0   1.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:25:37  0.0   2.0  0.0  0.0  0.0   0.0   0.0   0.0
            2015-02-21 12:25:44  0.0   2.0  0.0  0.0  0.0   1.0   0.0   0.0
            2015-02-21 12:33:52  0.0   2.0  0.0  0.0  0.0   2.0   0.0   0.0
            2015-02-21 12:35:04  0.0   3.0  0.0  0.0  0.0   2.0   0.0   0.0
            2015-02-21 12:35:32  0.0   4.0  0.0  0.0  0.0   2.0   0.0   0.0
            2015-02-21 12:43:18  0.0   4.0  0.0  0.0  0.0   3.0   0.0   0.0
            2015-02-21 13:36:53  0.0   4.0  0.0  0.0  0.0   4.0   0.0   0.0
            2015-02-21 13:51:00  0.0   4.0  0.0  1.0  0.0   4.0   0.0   0.0
            2015-02-21 14:03:17  0.0   4.0  0.0  2.0  0.0   4.0   0.0   0.0
            2015-02-21 14:04:25  0.0   4.0  0.0  2.0  0.0   5.0   0.0   0.0
            2015-02-21 15:08:23  0.0   4.0  0.0  2.0  0.0   6.0   0.0   0.0
            2015-02-21 15:15:35  0.0   4.0  0.0  2.0  0.0   7.0   0.0   0.0
1657        2015-02-21 13:53:15  0.0   0.0  0.0  0.0  1.0   0.0   0.0   0.0
            2015-02-21 14:31:44  0.0   0.0  1.0  0.0  1.0   0.0   0.0   0.0
            2015-02-21 15:48:59  0.0   0.0  2.0  0.0  1.0   0.0   0.0   0.0
            2015-02-21 15:51:25  0.0   0.0  2.0  0.0  2.0   0.0   0.0   0.0
1768        2015-02-21 13:37:19  0.0   0.0  1.0  0.0  0.0   0.0   0.0   0.0

spn                              5246  523530
EquipmentID EventTimeStamp
1395        2015-02-21 12:10:51   1.0     0.0
1417        2015-02-21 11:40:22   0.0     0.0
            2015-02-21 11:41:55   0.0     0.0
            2015-02-21 11:43:44   0.0     0.0
            2015-02-21 12:33:45   0.0     0.0
1437        2015-02-21 12:14:49   0.0     0.0
            2015-02-21 12:14:51   0.0     0.0
            2015-02-21 13:51:34   0.0     0.0
            2015-02-21 13:51:36   0.0     0.0
            2015-02-21 13:53:00   0.0     0.0
            2015-02-21 14:02:01   0.0     0.0
            2015-02-21 14:03:02   0.0     0.0
1467        2015-02-21 16:00:08   0.0     0.0
            2015-02-21 16:09:45   0.0     0.0
1488        2015-02-20 17:51:31   0.0     1.0
1566        2015-02-21 15:30:53   0.0     0.0
1582        2015-02-21 11:42:19   0.0     0.0
            2015-02-21 11:43:40   0.0     0.0
            2015-02-21 12:23:27   0.0     0.0
            2015-02-21 12:27:17   0.0     0.0
            2015-02-21 13:35:01   0.0     0.0
            2015-02-21 13:37:42   0.0     0.0
1585        2015-02-21 11:53:02   0.0     0.0
            2015-02-21 12:01:10   0.0     0.0
            2015-02-21 12:04:50   0.0     0.0
            2015-02-21 12:10:34   0.0     0.0
            2015-02-21 12:47:36   0.0     0.0
1586        2015-02-21 12:03:15   0.0     0.0
            2015-02-21 12:13:18   0.0     0.0
            2015-02-21 12:37:29   0.0     0.0
1590        2015-02-21 11:50:50   0.0     0.0
            2015-02-21 12:11:09   0.0     0.0
            2015-02-21 12:26:40   0.0     0.0
            2015-02-21 13:02:22   0.0     0.0
            2015-02-21 13:11:55   0.0     0.0
            2015-02-21 13:13:48   0.0     0.0
            2015-02-21 13:39:39   0.0     0.0
            2015-02-21 13:55:19   0.0     0.0
            2015-02-21 14:32:27   0.0     0.0
            2015-02-21 14:39:42   0.0     0.0
            2015-02-21 15:04:55   0.0     0.0
1595        2015-02-21 12:52:35   0.0     0.0
            2015-02-21 12:58:22   0.0     0.0
            2015-02-21 13:57:13   0.0     0.0
            2015-02-21 13:58:34   0.0     0.0
            2015-02-21 16:00:18   0.0     0.0
            2015-02-21 16:02:23   0.0     0.0
1600        2015-02-21 12:19:44   0.0     0.0
            2015-02-21 12:21:08   0.0     0.0
            2015-02-21 13:01:31   0.0     0.0
            2015-02-21 13:02:53   0.0     0.0
            2015-02-21 13:38:37   0.0     0.0
            2015-02-21 13:43:56   0.0     0.0
            2015-02-21 14:53:43   0.0     0.0
            2015-02-21 14:57:41   0.0     0.0
            2015-02-21 15:00:08   0.0     0.0
            2015-02-21 15:49:51   0.0     0.0
1601        2015-02-21 11:45:06   0.0     0.0
            2015-02-21 11:45:14   0.0     0.0
            2015-02-21 12:11:18   0.0     0.0
            2015-02-21 12:54:56   0.0     0.0
            2015-02-21 13:17:50   0.0     0.0
            2015-02-21 13:19:38   0.0     0.0
            2015-02-21 14:43:39   0.0     0.0
            2015-02-21 14:44:43   0.0     0.0
            2015-02-21 15:22:57   0.0     0.0
1605        2015-02-21 11:52:46   0.0     0.0
            2015-02-21 11:53:52   0.0     0.0
            2015-02-21 13:08:50   0.0     0.0
            2015-02-21 13:09:56   0.0     0.0
            2015-02-21 13:21:35   0.0     0.0
            2015-02-21 13:51:55   0.0     0.0
            2015-02-21 14:36:47   0.0     0.0
            2015-02-21 14:37:53   0.0     0.0
            2015-02-21 14:53:01   0.0     0.0
            2015-02-21 15:05:11   0.0     0.0
            2015-02-21 15:24:06   0.0     0.0
            2015-02-21 15:24:41   0.0     0.0
1623        2015-02-21 14:35:55   0.0     0.0
            2015-02-21 14:37:02   0.0     0.0
            2015-02-21 14:40:55   0.0     0.0
            2015-02-21 15:19:34   0.0     0.0
1630        2015-02-21 12:25:26   0.0     0.0
            2015-02-21 12:25:37   0.0     0.0
            2015-02-21 12:25:44   0.0     0.0
            2015-02-21 12:33:52   0.0     0.0
            2015-02-21 12:35:04   0.0     0.0
            2015-02-21 12:35:32   0.0     0.0
            2015-02-21 12:43:18   0.0     0.0
            2015-02-21 13:36:53   0.0     0.0
            2015-02-21 13:51:00   0.0     0.0
            2015-02-21 14:03:17   0.0     0.0
            2015-02-21 14:04:25   0.0     0.0
            2015-02-21 15:08:23   0.0     0.0
            2015-02-21 15:15:35   0.0     0.0
1657        2015-02-21 13:53:15   0.0     0.0
            2015-02-21 14:31:44   0.0     0.0
            2015-02-21 15:48:59   0.0     0.0
            2015-02-21 15:51:25   0.0     0.0
1768        2015-02-21 13:37:19   0.0     0.0

In [54]:
pivoted_spn = pd.pivot(bfd_preceding_dedupe.reset_index(), index=['EventTimeStamp','EquipmentID'], columns='spn', values ='spn')

In [55]:
pivoted_spn

,spn,0,16,27,37,38,51,70,75,77,81,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
EventTimeStamp,EquipmentID,,,,,,,,,,,,,,,,,,,,,
2015-02-20 17:51:31,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,523530.0,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:40:22,1417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:41:55,1417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:42:19,1582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-21 11:43:40,1582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-06 11:48:52,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 12:00:41,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 12:11:54,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 12:20:36,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 12:51:53,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pivoted_test.groupby('EquipmentID')[cols1].rolling(window = '10T').sum()

In [181]:
test1 = pivoted_spn.iloc[0:10, 20:29]
test1

spn                              102  103  105  107  108  110    111  157  158
EventTimeStamp      EquipmentID
2015-02-20 17:51:31 1488         NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN
2015-02-21 11:40:22 1417         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:41:55 1417         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:42:19 1582         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:43:40 1582         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:43:44 1417         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:45:06 1601         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:45:14 1601         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:50:50 1590         NaN  NaN  NaN  NaN  NaN  NaN  111.0  NaN  NaN
2015-02-21 11:52:46 1605         NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN

In [185]:
test1.reset_index().set_index('EventTimeStamp').groupby('EquipmentID')[[111,108]].rolling(window ='10T').mean()

spn                                111  108
EquipmentID EventTimeStamp
1417        2015-02-21 11:40:22  111.0  NaN
            2015-02-21 11:41:55  111.0  NaN
            2015-02-21 11:43:44  111.0  NaN
1488        2015-02-20 17:51:31    NaN  NaN
1582        2015-02-21 11:42:19  111.0  NaN
            2015-02-21 11:43:40  111.0  NaN
1590        2015-02-21 11:50:50  111.0  NaN
1601        2015-02-21 11:45:06  111.0  NaN
            2015-02-21 11:45:14  111.0  NaN
1605        2015-02-21 11:52:46    NaN  NaN

In [67]:
er_c = pd.get_dummies(test)
er_c

spn                              27  37  38  51
EventTimeStamp      EquipmentID
2015-02-20 17:51:31 1488        NaN NaN NaN NaN
2015-02-21 11:40:22 1417        NaN NaN NaN NaN
2015-02-21 11:41:55 1417        NaN NaN NaN NaN
2015-02-21 11:42:19 1582        NaN NaN NaN NaN
2015-02-21 11:43:40 1582        NaN NaN NaN NaN
2015-02-21 11:43:44 1417        NaN NaN NaN NaN
2015-02-21 11:45:06 1601        NaN NaN NaN NaN
2015-02-21 11:45:14 1601        NaN NaN NaN NaN
2015-02-21 11:50:50 1590        NaN NaN NaN NaN
2015-02-21 11:52:46 1605        NaN NaN NaN NaN

In [69]:
er_c.groupby(['EventTimeStamp','EquipmentID']).sum().reset_index()

spn      EventTimeStamp EquipmentID   27   37   38   51
0   2015-02-20 17:51:31        1488  0.0  0.0  0.0  0.0
1   2015-02-21 11:40:22        1417  0.0  0.0  0.0  0.0
2   2015-02-21 11:41:55        1417  0.0  0.0  0.0  0.0
3   2015-02-21 11:42:19        1582  0.0  0.0  0.0  0.0
4   2015-02-21 11:43:40        1582  0.0  0.0  0.0  0.0
5   2015-02-21 11:43:44        1417  0.0  0.0  0.0  0.0
6   2015-02-21 11:45:06        1601  0.0  0.0  0.0  0.0
7   2015-02-21 11:45:14        1601  0.0  0.0  0.0  0.0
8   2015-02-21 11:50:50        1590  0.0  0.0  0.0  0.0
9   2015-02-21 11:52:46        1605  0.0  0.0  0.0  0.0

In [70]:
dm=[27, 37, 38, 51]

In [73]:
er_c.reset_index().groupby('EquipmentID').rolling(window = 2, on='EventTimeStamp')[dm].sum()

spn                              27  37  38  51
EquipmentID EventTimeStamp
1417        2015-02-21 11:40:22 NaN NaN NaN NaN
            2015-02-21 11:41:55 NaN NaN NaN NaN
            2015-02-21 11:43:44 NaN NaN NaN NaN
1488        2015-02-20 17:51:31 NaN NaN NaN NaN
1582        2015-02-21 11:42:19 NaN NaN NaN NaN
            2015-02-21 11:43:40 NaN NaN NaN NaN
1590        2015-02-21 11:50:50 NaN NaN NaN NaN
1601        2015-02-21 11:45:06 NaN NaN NaN NaN
            2015-02-21 11:45:14 NaN NaN NaN NaN
1605        2015-02-21 11:52:46 NaN NaN NaN NaN

In [82]:
pivoted_cols = pivoted_spn.columns.to_list()

In [78]:
spn_count = pd.get_dummies(pivoted_spn)

In [86]:
 spn_cols = ['EquipmentID', 'EventTimeStamp',
 0,
 16,
 27,
 37,
 38,
 51,
 70,
 75,
 77,
 81,
 84,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 103,
 105,
 107,
 108,
 110,
 111,
 157,
 158,
 167,
 168,
 171,
 173,
 175,
 184,
 188,
 190,
 228,
 235,
 236,
 237,
 245,
 247,
 248,
 251,
 252,
 256,
 411,
 412,
 442,
 444,
 512,
 558,
 563,
 576,
 578,
 596,
 611,
 612,
 614,
 627,
 628,
 629,
 630,
 633,
 639,
 641,
 647,
 651,
 652,
 653,
 654,
 655,
 656,
 723,
 729,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 802,
 803,
 805,
 806,
 807,
 810,
 815,
 829,
 830,
 862,
 886,
 917,
 929,
 933,
 934,
 935,
 938,
 939,
 940,
 941,
 976,
 1024,
 1028,
 1043,
 1045,
 1056,
 1059,
 1067,
 1068,
 1072,
 1073,
 1075,
 1081,
 1127,
 1172,
 1176,
 1209,
 1231,
 1239,
 1321,
 1322,
 1323,
 1324,
 1325,
 1326,
 1328,
 1347,
 1349,
 1481,
 1482,
 1483,
 1487,
 1569,
 1659,
 1675,
 1761,
 1807,
 1808,
 1809,
 1815,
 2017,
 2029,
 2623,
 2629,
 2659,
 2791,
 2863,
 2866,
 3031,
 3058,
 3060,
 3216,
 3218,
 3226,
 3228,
 3241,
 3242,
 3245,
 3246,
 3249,
 3251,
 3253,
 3360,
 3361,
 3362,
 3363,
 3364,
 3464,
 3480,
 3482,
 3490,
 3509,
 3510,
 3511,
 3513,
 3556,
 3583,
 3597,
 3610,
 3697,
 3698,
 3703,
 3720,
 3936,
 4094,
 4095,
 4096,
 4219,
 4220,
 4276,
 4331,
 4334,
 4339,
 4340,
 4342,
 4344,
 4346,
 4354,
 4356,
 4360,
 4363,
 4364,
 4375,
 4376,
 4752,
 4765,
 4792,
 4794,
 4796,
 4811,
 4813,
 5019,
 5024,
 5031,
 5052,
 5245,
 5246,
 5298,
 5319,
 5394,
 5397,
 5443,
 5485,
 5491,
 5585,
 5742,
 5743,
 5745,
 5746,
 5835,
 5848,
 5851,
 5862,
 5909,
 5939,
 6773,
 6780,
 6802,
 7827,
 7847,
 7854,
 13600,
 17096,
 17590,
 25780,
 29902,
 35527,
 36017,
 47284,
 50353,
 51923,
 65535,
 78132,
 139296,
 520201,
 520203,
 520273,
 520302,
 520953,
 523530,
 523531,
 524033,
 524037,
 524071,
 524287]

In [87]:
spn_count.reset_index(inplace=True)

In [88]:
spn_count

spn,EventTimeStamp,EquipmentID,0,16,27,37,38,51,70,75,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
0,2015-02-20 17:51:31,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,523530.0,NaN,NaN,NaN,NaN,NaN
1,2015-02-21 11:40:22,1417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-21 11:41:55,1417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-02-21 11:42:19,1582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-02-21 11:43:40,1582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321559,2020-03-06 11:48:52,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321560,2020-03-06 12:00:41,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321561,2020-03-06 12:11:54,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321562,2020-03-06 12:20:36,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321563,2020-03-06 12:51:53,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
spn_count.columns = ['EventTimeStamp',
 'EquipmentID',
 0,
 16,
 27,
 37,
 38,
 51,
 70,
 75,
 77,
 81,
 84,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 103,
 105,
 107,
 108,
 110,
 111,
 157,
 158,
 167,
 168,
 171,
 173,
 175,
 184,
 188,
 190,
 228,
 235,
 236,
 237,
 245,
 247,
 248,
 251,
 252,
 256,
 411,
 412,
 442,
 444,
 512,
 558,
 563,
 576,
 578,
 596,
 611,
 612,
 614,
 627,
 628,
 629,
 630,
 633,
 639,
 641,
 647,
 651,
 652,
 653,
 654,
 655,
 656,
 723,
 729,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 802,
 803,
 805,
 806,
 807,
 810,
 815,
 829,
 830,
 862,
 886,
 917,
 929,
 933,
 934,
 935,
 938,
 939,
 940,
 941,
 976,
 1024,
 1028,
 1043,
 1045,
 1056,
 1059,
 1067,
 1068,
 1072,
 1073,
 1075,
 1081,
 1127,
 1172,
 1176,
 1209,
 1231,
 1239,
 1321,
 1322,
 1323,
 1324,
 1325,
 1326,
 1328,
 1347,
 1349,
 1481,
 1482,
 1483,
 1487,
 1569,
 1659,
 1675,
 1761,
 1807,
 1808,
 1809,
 1815,
 2017,
 2029,
 2623,
 2629,
 2659,
 2791,
 2863,
 2866,
 3031,
 3058,
 3060,
 3216,
 3218,
 3226,
 3228,
 3241,
 3242,
 3245,
 3246,
 3249,
 3251,
 3253,
 3360,
 3361,
 3362,
 3363,
 3364,
 3464,
 3480,
 3482,
 3490,
 3509,
 3510,
 3511,
 3513,
 3556,
 3583,
 3597,
 3610,
 3697,
 3698,
 3703,
 3720,
 3936,
 4094,
 4095,
 4096,
 4219,
 4220,
 4276,
 4331,
 4334,
 4339,
 4340,
 4342,
 4344,
 4346,
 4354,
 4356,
 4360,
 4363,
 4364,
 4375,
 4376,
 4752,
 4765,
 4792,
 4794,
 4796,
 4811,
 4813,
 5019,
 5024,
 5031,
 5052,
 5245,
 5246,
 5298,
 5319,
 5394,
 5397,
 5443,
 5485,
 5491,
 5585,
 5742,
 5743,
 5745,
 5746,
 5835,
 5848,
 5851,
 5862,
 5909,
 5939,
 6773,
 6780,
 6802,
 7827,
 7847,
 7854,
 13600,
 17096,
 17590,
 25780,
 29902,
 35527,
 36017,
 47284,
 50353,
 51923,
 65535,
 78132,
 139296,
 520201,
 520203,
 520273,
 520302,
 520953,
 523530,
 523531,
 524033,
 524037,
 524071,
 524287]

In [90]:
spn_count=spn_count.groupby(['EventTimeStamp', 'EquipmentID']).sum().reset_index()
spn_count

,EventTimeStamp,EquipmentID,0,16,27,37,38,51,70,75,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
0,2015-02-20 17:51:31,1488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,523530.0,0.0,0.0,0.0,0.0,0.0
1,2015-02-21 11:40:22,1417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-02-21 11:41:55,1417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-02-21 11:42:19,1582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-02-21 11:43:40,1582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321559,2020-03-06 11:48:52,1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321560,2020-03-06 12:00:41,1853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321561,2020-03-06 12:11:54,1853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321562,2020-03-06 12:20:36,1853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321563,2020-03-06 12:51:53,1853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
spn_count.describe()

,0,16,27,37,38,51,70,75,77,81,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
count,321564.0,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,...,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000,321564.000000
mean,0.0,0.000050,0.005290,0.009435,0.000118,0.003806,0.309114,0.001166,0.000718,0.043326,...,215.157788,14.561509,14.562320,21.060781,30.933407,187.228872,40.740957,13.037206,3.259513,96.195261
std,0.0,0.028215,0.377884,0.590772,0.067012,0.440582,4.641391,0.295740,0.235189,1.872837,...,10577.323950,2752.411918,2752.565337,3312.290391,4024.134678,9898.755915,4620.390928,2613.776849,1306.985410,7101.044165
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,16.000000,27.000000,37.000000,38.000000,51.000000,70.000000,75.000000,77.000000,81.000000,...,520203.000000,520273.000000,520302.000000,520953.000000,523530.000000,523531.000000,524033.000000,524037.000000,524071.000000,524287.000000

In [95]:
temp = []


for col in spn_count.columns[2:]:

    temp.append(pd.pivot_table(spn_count,

                               index='EventTimeStamp',

                               columns='EquipmentID',

                               values=col).rolling(window='7D').sum().resample('24H',

                                                                             closed='left',

                                                                             label='right').first().unstack())
error_count = pd.concat(temp, axis=1)

error_count.columns = spn_count.columns[2:]

error_count.reset_index(inplace=True)

error_count = error_count.dropna()

error_count.describe()

,0,16,27,37,38,51,70,75,77,81,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
count,107621.0,107621.000000,107621.000000,107621.000000,107621.000000,107621.000000,107621.000000,107621.000000,107621.000000,107621.000000,...,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05,1.076210e+05
mean,0.0,0.001041,0.111642,0.201122,0.002472,0.078665,6.449020,0.024391,0.015025,0.921233,...,4.601641e+03,3.190643e+02,3.045783e+02,4.647001e+02,6.761754e+02,4.008414e+03,8.618563e+02,2.726798e+02,6.817437e+01,1.997358e+03
std,0.0,0.129035,3.197311,4.712539,0.306459,4.765719,99.227295,2.180762,1.348262,10.881080,...,8.748199e+04,1.537288e+04,3.441933e+04,2.344202e+04,3.676791e+04,7.186159e+04,3.822778e+04,1.581117e+04,8.452954e+03,5.105237e+04
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,0.0,16.000000,216.000000,296.000000,38.000000,510.000000,3360.000000,225.000000,154.000000,324.000000,...,4.161624e+06,1.040546e+06,4.682718e+06,2.083812e+06,4.711770e+06,3.141186e+06,4.192264e+06,1.048074e+06,1.048142e+06,4.194296e+06

In [96]:
error_count.head()

,EquipmentID,EventTimeStamp,0,16,27,37,38,51,70,75,...,520203,520273,520302,520953,523530,523531,524033,524037,524071,524287
5,1329,2015-02-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1329,2015-02-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1329,2015-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1329,2015-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1329,2015-03-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dfx_seven_day.shape

In [ ]:
len(dfx_seven_day['spn'].unique())

In [ ]:
dfx_seven_day[dfx_seven_day['EquipmentID']=='1872']

In [ ]:
dfx_seven_day[dfx_seven_day['EquipmentID']=='1872'][['spn']]

In [ ]:
dfx_seven_day.columns

In [ ]:
# calculating cross sectional stats for time delta between spn codes per a truck 
# filtering events that occurred less than 30 times so that stdev is statitically significant
result = []

dfx_seven_day_copy = dfx_seven_day.copy()
dfx_seven_day_copy.sort_values(['EquipmentID', 'EventTimeStamp'], ascending = [True, True], inplace =True)
for spn in dfx_seven_day_copy['spn'].unique():
    temp = dfx_seven_day_copy.loc[dfx_seven_day_copy['spn'] == spn,"EventTimeStamp"].diff()
    if len(temp) ==0:
        continue 
    temp = temp.apply(lambda x: x/np.timedelta64(1, 'D')).fillna(0).astype('int64')
    filtered_temp = temp[temp > 0]
    spn_dev = filtered_temp.std()
    spn_mean=filtered_temp.mean()
    result.append((spn, len(filtered_temp),spn_mean, spn_dev))
spn_stats = pd.DataFrame(result, columns = ['spn','sample_size', 'spn_mean', 'spn_dev'])
spn_stats.loc[spn_stats['sample_size'] > 30,:].sort_values(['spn_dev'], ascending=True)

In [ ]:
#temp = dfx_seven_day_copy.loc[(dfx_seven_day_copy['spn'] == spn) & (dfx_seven_day_copy['flipper']!=1),"EventTimeStamp"].diff()

In [ ]:
spns = [1569, 3364, 111, 3362, 3216, 3226, 1761, 96, 3031, 5394, 829]

In [ ]:
sensors = dfx_seven_day.loc[dfx_seven_day['spn'].isin(spns)][['EventTimeStamp','AcceleratorPedal', 'BarometricPressure', 'CruiseControlActive',
       'CruiseControlSetSpeed', 'DistanceLtd', 'EngineCoolantTemperature',
       'EngineLoad', 'EngineOilPressure', 'EngineOilTemperature', 'EngineRpm',
       'EngineTimeLtd', 'FuelLevel', 'FuelLtd', 'FuelRate', 'FuelTemperature',
       'IgnStatus', 'IntakeManifoldTemperature', 'LampStatus', 'ParkingBrake',
       'ServiceDistance', 'Speed', 'SwitchedBatteryVoltage', 'Throttle',
       'TurboBoostPressure']]

In [ ]:
sensors.set_index('EventTimeStamp')

In [ ]:
sensors = sensors.fillna(0)

In [ ]:
cols =['BarometricPressure', 'EngineCoolantTemperature', 'FuelTemperature','SwitchedBatteryVoltage', 'Throttle']

In [ ]:
plt.rcParams['figure.figsize'] = (20,20)
plt.style.use('fivethirtyeight')
sensors[['BarometricPressure', 'EngineCoolantTemperature', 'FuelTemperature','SwitchedBatteryVoltage', 'Throttle']].plot(subplots= True,layout=(7,1),sharex=False, sharey=False, colormap='hsv',linewidth = 2);
plt.tight_layout();

In [ ]:
corr = sensors.corr()
top_features = corr.index
plt.figure(figsize=(20,20))
sns.heatmap(sensors[top_features].corr(), annot =True)

In [ ]:
threshold = 0.65

In [ ]:
def correlation(sensors, threshold):
    col_corr = set() # Set of all the names of correlated columns
    corr_matrix = sensors.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
              if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                    colname = corr_matrix.columns[i] # getting the nhesame of column
                    col_corr.add(colname)
    return col_corr

In [ ]:
correlation(sensors, threshold)

In [ ]:
temp = []


for col in spn_count.columns[2:6]:

    temp.append(pd.pivot_table(spn_count,

                               index='EventTimeStamp',

                               columns='EquipmentID',

                               values=col).rolling(window='1D').sum().resample('3H',

                                                                             closed='left',

                                                                             label='right').first().unstack())
error_count = pd.concat(temp, axis=1)

error_count.columns = spn_count.columns[2:6]

error_count.reset_index(inplace=True)

error_count = error_count.dropna()

error_count.describe()