In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
 VehDiag = pd.read_csv("VehicleDiagnosticOnboardData.csv")

In [3]:
VehDiag.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

In [4]:
VehDiag.info

<bound method DataFrame.info of                 Id                      Name        Value  FaultId
0                1                 IgnStatus        False        1
1                2         EngineOilPressure            0        1
2                3      EngineOilTemperature     96.74375        1
3                4        TurboBoostPressure            0        1
4                5                EngineLoad           11        1
...            ...                       ...          ...      ...
12821621  12864020  EngineCoolantTemperature        181.4  1248457
12821622  12864021              ParkingBrake        False  1248457
12821623  12864022    SwitchedBatteryVoltage         14.1  1248457
12821624  12864023               DistanceLtd  28606.65625  1248457
12821625  12864024                LampStatus         1023  1248458

[12821626 rows x 4 columns]>

In [5]:
faults = pd.read_csv("J1939Faults.csv")
faults['EventTimeStamp'] = pd.to_datetime(faults['EventTimeStamp'])
faults['LocationTimeStamp'] = pd.to_datetime(faults['LocationTimeStamp'])

C:\Users\yvonn\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37

In [7]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  datetime64[ns]
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(4), int64(7), object(6)
memory usage: 173.2+ MB

In [8]:
faults.groupby('ecuSerialNumber')['RecordID'].nunique()

ecuSerialNumber
00000000             3062
04392260                4
11425153                1
13022986              831
13061463              332
                    ...
________Y046021       152
________Y048665      1632
________Y049232       210
________Y049568       622
unknown            298549
Name: RecordID, Length: 1989, dtype: int64

In [9]:
count_type_fault = faults['spn'].value_counts()

In [10]:
count_type_fault

111      365489
929      256541
96        90041
829       87788
639       41062
          ...
54478         1
65287         1
46262         1
56503         1
677           1
Name: spn, Length: 450, dtype: int64

In [11]:
faults['eventDescription'].nunique

<bound method IndexOpsMixin.nunique of 0                    Low (Severity Low) Engine Coolant Level
1                                                        NaN
2                        Incorrect Data Steering Wheel Angle
3                        Incorrect Data Steering Wheel Angle
4                                                        NaN
                                 ...
1187330               Low (Severity Low) Catalyst Tank Level
1187331     Condition Exists Engine Protection Torque Derate
1187332    Abnormal Rate of Change Aftertreatment 1 Intak...
1187333           Low (Severity Medium) Engine Coolant Level
1187334           Low (Severity Medium) Engine Coolant Level
Name: eventDescription, Length: 1187335, dtype: object>

In [12]:
column_values = faults [['ecuModel']].values.ravel()

In [13]:
unique_values = pd.unique(column_values)

In [14]:
unique_values

array(['unknown', '0USA13_13_0415_2238A', '6X1u10D1500000000',
       '6X1u13D1500000000', 'MX', nan, '20412511P07', '________Y043718',
       'EC60-adv', 'CECU3B-NAMUX4', 'EC80ESP', 'CE', '6U13D13',
       '0USA10_13_0405_2237A', '6L u13D0890000000', '6X1u17D1500000000',
       'MX16U13D13', 'EEO-xxF112C', 'FAOM-xx810S-EC3', 'CECU3-NAMUX3',
       'Gen 4 Boot Loader', 'EC80ESP AM000036', 'Y044053', 'EC80ESP+',
       'EC80ESP AM000038', 'Y049568', 'E0031', 'MX16U15D13', '202.35.0',
       '6X1u20D1500000000'], dtype=object)

In [15]:
faults['fmi'].nunique()

26

In [16]:
fmivalue = faults [['fmi']].values.ravel()

In [17]:
unique_values2 = pd.unique(fmivalue)

In [18]:
unique_values2

array([17, 12,  2, 15,  1,  3, 31,  9,  0, 14, 19, 18,  7,  4, 16, 11, 13,
       10,  6, 20,  5,  8, 21, 23, 29, 22], dtype=int64)

In [19]:
faults2 = faults[['RecordID', 'EventTimeStamp', 'eventDescription', 'ecuSerialNumber', 'ecuSource', 'spn', 'fmi', 'active', 'activeTransitionCount', 'EquipmentID', 'Latitude', 'Longitude', 'LocationTimeStamp']]

In [20]:
faults2.head()

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp
0,1,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,unknown,0,111,17,True,2,1439,38.857638,-84.626851,2015-02-21 11:34:25
1,2,2015-02-21 11:34:34,NaN,unknown,11,629,12,True,127,1439,38.857638,-84.626851,2015-02-21 11:35:10
2,3,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,False,127,1369,41.421250,-87.767361,2015-02-21 11:35:26
3,4,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,True,127,1369,41.421018,-87.767361,2015-02-21 11:36:08
4,5,2015-02-21 11:39:41,NaN,13063430,0,4364,17,False,2,1674,38.416481,-89.442638,2015-02-21 11:39:37

In [21]:
VehDiag.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

In [22]:
VehDiag.info

<bound method DataFrame.info of                 Id                      Name        Value  FaultId
0                1                 IgnStatus        False        1
1                2         EngineOilPressure            0        1
2                3      EngineOilTemperature     96.74375        1
3                4        TurboBoostPressure            0        1
4                5                EngineLoad           11        1
...            ...                       ...          ...      ...
12821621  12864020  EngineCoolantTemperature        181.4  1248457
12821622  12864021              ParkingBrake        False  1248457
12821623  12864022    SwitchedBatteryVoltage         14.1  1248457
12821624  12864023               DistanceLtd  28606.65625  1248457
12821625  12864024                LampStatus         1023  1248458

[12821626 rows x 4 columns]>

In [23]:
pd.pivot_table(VehDiag, columns= ['Name'], values = 'Value', index = 'FaultId', aggfunc= 'first')

Name,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultId,,,,,,,,,,,,,,,,,,,,,
1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,...,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,...,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,...,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,...,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
faults2.info

<bound method DataFrame.info of          RecordID      EventTimeStamp  \
0               1 2015-02-21 10:47:13
1               2 2015-02-21 11:34:34
2               3 2015-02-21 11:35:31
3               4 2015-02-21 11:35:33
4               5 2015-02-21 11:39:41
...           ...                 ...
1187330   1248454 2020-03-06 14:00:26
1187331   1248455 2020-03-06 14:04:23
1187332   1248456 2020-03-06 14:13:38
1187333   1248457 2020-03-06 14:14:13
1187334   1248458 2020-03-06 14:15:34

                                          eventDescription ecuSerialNumber  \
0                  Low (Severity Low) Engine Coolant Level         unknown
1                                                      NaN         unknown
2                      Incorrect Data Steering Wheel Angle         unknown
3                      Incorrect Data Steering Wheel Angle         unknown
4                                                      NaN        13063430
...                                                    ...             ...
1187330             Low (Severity Low) Catalyst Tank Level        80156139
1187331   Condition Exists Engine Protection Torque Derate        79932020
1187332  Abnormal Rate of Change Aftertreatment 1 Intak...        79880653
1187333         Low (Severity Medium) Engine Coolant Level             NaN
1187334         Low (Severity Medium) Engine Coolant Level             NaN

         ecuSource   spn  fmi  active  activeTransitionCount EquipmentID  \
0                0   111   17    True                      2        1439
1               11   629   12    True                    127        1439
2               11  1807    2   False                    127        1369
3               11  1807    2    True                    127        1369
4                0  4364   17   False                      2        1674
...            ...   ...  ...     ...                    ...         ...
1187330          0  1761   17   False                      3        2282
1187331          0  1569   31    True                      5        1994
1187332          0  3216   10    True                      1        1850
1187333          0   111   18    True                      8        2377
1187334          0   111   18   False                      8        2377

          Latitude  Longitude   LocationTimeStamp
0        38.857638 -84.626851 2015-02-21 11:34:25
1        38.857638 -84.626851 2015-02-21 11:35:10
2        41.421250 -87.767361 2015-02-21 11:35:26
3        41.421018 -87.767361 2015-02-21 11:36:08
4        38.416481 -89.442638 2015-02-21 11:39:37
...            ...        ...                 ...
1187330  37.094768 -85.897407 2020-03-06 14:00:21
1187331  34.390740 -79.461805 2020-03-06 14:04:59
1187332  34.430370 -84.920509 2020-03-06 14:14:14
1187333  35.030925 -85.321527 2020-03-06 14:14:49
1187334  35.027314 -85.323472 2020-03-06 14:15:30

[1187335 rows x 13 columns]>

In [25]:
faults2.spn.value_counts().to_frame()

          spn
111    365489
929    256541
96      90041
829     87788
639     41062
...       ...
54478       1
65287       1
46262       1
56503       1
677         1

[450 rows x 1 columns]

In [26]:
faults2.fmi.value_counts().to_frame()

       fmi
17  326553
9   288893
3   188631
2    82334
18   53602
31   39881
4    39734
0    27577
7    23249
1    20887
15   20739
14   12699
12   12233
5     9683
16    9242
10    7437
8     5741
19    5733
20    4440
11    3847
13    2634
6     1027
23     396
21     131
29       8
22       4

In [27]:
faults2['spn'].value_counts(normalize = True)

111      3.078230e-01
929      2.160645e-01
96       7.583454e-02
829      7.393701e-02
639      3.458333e-02
             ...
54478    8.422223e-07
65287    8.422223e-07
46262    8.422223e-07
56503    8.422223e-07
677      8.422223e-07
Name: spn, Length: 450, dtype: float64

In [54]:
faults2.groupby(['spn','fmi'])[["EquipmentID"]].agg('count').reset_index().sort_values('EquipmentID', ascending= False).head(20)

        spn  fmi  EquipmentID
115     111   17       320244
423     929    9       256541
51       96    3        82818
409     829    3        81754
116     111   18        38866
261     639    2        37086
231     596   31        22570
57       97   15        17681
1014  50353    0        11773
529    1569   31        10927
55       97    3         8628
460    1068    2         7994
252     629   12         7413
598    2863    7         6984
410     829    4         6033
52       96    4         5890
326     789    1         5209
547    1761   17         4733
112     111    3         4587
12       37   18         4213

In [29]:
faults2['size'] =faults2.groupby('spn')['fmi'].transform('size')

<ipython-input-29-8f865bde2e3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  faults2['size'] =faults2.groupby('spn')['fmi'].transform('size')

In [30]:
faults2

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,size
0,1,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,unknown,0,111,17,True,2,1439,38.857638,-84.626851,2015-02-21 11:34:25,365489
1,2,2015-02-21 11:34:34,NaN,unknown,11,629,12,True,127,1439,38.857638,-84.626851,2015-02-21 11:35:10,8012
2,3,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,False,127,1369,41.421250,-87.767361,2015-02-21 11:35:26,4081
3,4,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,True,127,1369,41.421018,-87.767361,2015-02-21 11:36:08,4081
4,5,2015-02-21 11:39:41,NaN,13063430,0,4364,17,False,2,1674,38.416481,-89.442638,2015-02-21 11:39:37,2618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,80156139,0,1761,17,False,3,2282,37.094768,-85.897407,2020-03-06 14:00:21,9981
1187331,1248455,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,79932020,0,1569,31,True,5,1994,34.390740,-79.461805,2020-03-06 14:04:59,10927
1187332,1248456,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intak...,79880653,0,3216,10,True,1,1850,34.430370,-84.920509,2020-03-06 14:14:14,5420
1187333,1248457,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,0,111,18,True,8,2377,35.030925,-85.321527,2020-03-06 14:14:49,365489
1187334,1248458,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,0,111,18,False,8,2377,35.027314,-85.323472,2020-03-06 14:15:30,365489

In [31]:
faults2[faults2['fmi']!= 31]

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,size
0,1,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,unknown,0,111,17,True,2,1439,38.857638,-84.626851,2015-02-21 11:34:25,365489
1,2,2015-02-21 11:34:34,NaN,unknown,11,629,12,True,127,1439,38.857638,-84.626851,2015-02-21 11:35:10,8012
2,3,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,False,127,1369,41.421250,-87.767361,2015-02-21 11:35:26,4081
3,4,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,unknown,11,1807,2,True,127,1369,41.421018,-87.767361,2015-02-21 11:36:08,4081
4,5,2015-02-21 11:39:41,NaN,13063430,0,4364,17,False,2,1674,38.416481,-89.442638,2015-02-21 11:39:37,2618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187329,1248453,2020-03-06 13:44:45,Low (Severity Medium) Engine Coolant Level,79904453,0,111,18,False,93,1886,39.013472,-77.037685,2020-03-06 13:44:41,365489
1187330,1248454,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,80156139,0,1761,17,False,3,2282,37.094768,-85.897407,2020-03-06 14:00:21,9981
1187332,1248456,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intak...,79880653,0,3216,10,True,1,1850,34.430370,-84.920509,2020-03-06 14:14:14,5420
1187333,1248457,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,0,111,18,True,8,2377,35.030925,-85.321527,2020-03-06 14:14:49,365489
1187334,1248458,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,0,111,18,False,8,2377,35.027314,-85.323472,2020-03-06 14:15:30,365489

In [32]:
display(faults2.loc[(faults2['spn']==1569) & (faults2['fmi']== 31)])

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,size
40,41,2015-02-21 12:06:22,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,True,5,1721,39.051805,-84.560509,2015-02-21 12:06:57,10927
249,250,2015-02-21 15:01:49,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,False,5,1721,38.113240,-85.667361,2015-02-21 15:01:45,10927
290,291,2015-02-21 15:35:45,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,True,6,1721,37.735185,-85.808101,2015-02-21 15:36:21,10927
306,307,2015-02-21 15:51:58,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,False,6,1721,37.540370,-85.880972,2015-02-21 15:51:54,10927
340,341,2015-02-21 16:22:24,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,True,7,1721,37.166666,-85.964027,2015-02-21 16:23:00,10927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186072,1247196,2020-03-02 15:51:18,Condition Exists Engine Protection Torque Derate,79897319,0,1569,31,True,10,1855,33.757453,-84.548611,2020-03-02 15:43:54,10927
1186195,1247319,2020-03-03 06:51:50,Condition Exists Engine Protection Torque Derate,79875897,0,1569,31,False,1,1827,36.194907,-83.174953,2020-03-03 06:51:46,10927
1186207,1247331,2020-03-03 06:59:13,Condition Exists Engine Protection Torque Derate,79875897,0,1569,31,False,1,1827,36.194861,-83.175000,2020-03-03 07:00:53,10927
1186730,1247854,2020-03-04 16:55:48,Condition Exists Engine Protection Torque Derate,79902732,0,1569,31,False,1,1868,35.587870,-86.443935,2020-03-04 16:55:44,10927
1187331,1248455,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,79932020,0,1569,31,True,5,1994,34.390740,-79.461805,2020-03-06 14:04:59,10927

In [37]:
display(faults2.loc[(faults2['spn']==1569) & (faults2['fmi']!= 31)])

Empty DataFrame
Columns: [RecordID, EventTimeStamp, eventDescription, ecuSerialNumber, ecuSource, spn, fmi, active, activeTransitionCount, EquipmentID, Latitude, Longitude, LocationTimeStamp, size]
Index: []

In [39]:
display(faults2.loc[(faults2['spn']!=1569) & (faults2['fmi']== 31)])

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,size
23,24,2015-02-21 11:49:21,Condition Exists Cruise Control Enable Switch,unknown,49,596,31,True,76,1733,36.332453,-82.816250,2015-02-21 11:49:57,22571
46,47,2015-02-21 12:11:49,Condition Exists Cruise Control Enable Switch,unknown,49,596,31,False,22,1766,34.856064,-81.005972,2015-02-21 12:11:45,22571
107,108,2015-02-21 13:01:43,Condition Exists Cruise Control Enable Switch,unknown,49,596,31,False,76,1733,36.770833,-81.779120,2015-02-21 13:01:39,22571
161,162,2015-02-21 13:37:19,Condition Exists Cruise Control Enable Switch,unknown,49,596,31,True,36,1768,36.094027,-83.351250,2015-02-21 13:37:55,22571
164,165,2015-02-21 13:45:09,Condition Exists Cruise Control Enable Switch,unknown,49,596,31,False,59,1650,37.595787,-85.864490,2015-02-21 13:45:04,22571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186774,1247898,2020-03-05 00:54:07,NaN,79897851,0,4364,31,False,2,1865,37.816620,-87.040046,2020-03-05 00:57:27,2618
1186927,1248051,2020-03-05 10:49:29,NaN,79967185,0,4364,31,False,1,2051,36.066944,-86.434120,2020-03-05 10:49:25,2618
1187064,1248188,2020-03-05 17:31:59,Condition Exists Transmission Driveline Engaged,Z0057058,3,560,31,False,2,2301,35.433935,-86.758935,2020-03-05 17:31:55,381
1187129,1248253,2020-03-06 03:51:22,Condition Exists Catalyst Dosing Unit Input Lines,79857685,0,3362,31,False,1,1817,38.964537,-78.439675,2020-03-06 03:51:17,1091
1187318,1248442,2020-03-06 13:07:34,Condition Exists Catalyst Dosing Unit Input Lines,79932020,0,3362,31,True,1,1994,34.989212,-78.838518,2020-03-06 13:08:11,1091

In [55]:
faults2[faults2['spn'].isin([1569,5246])]

,RecordID,EventTimeStamp,eventDescription,ecuSerialNumber,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,size
40,41,2015-02-21 12:06:22,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,True,5,1721,39.051805,-84.560509,2015-02-21 12:06:57,10927
45,46,2015-02-21 12:10:51,NaN,79464664,0,5246,0,True,1,1395,36.065972,-86.433425,2015-02-21 12:11:27,1195
249,250,2015-02-21 15:01:49,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,False,5,1721,38.113240,-85.667361,2015-02-21 15:01:45,10927
290,291,2015-02-21 15:35:45,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,True,6,1721,37.735185,-85.808101,2015-02-21 15:36:21,10927
306,307,2015-02-21 15:51:58,Condition Exists Engine Protection Torque Derate,79723635,0,1569,31,False,6,1721,37.540370,-85.880972,2015-02-21 15:51:54,10927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186072,1247196,2020-03-02 15:51:18,Condition Exists Engine Protection Torque Derate,79897319,0,1569,31,True,10,1855,33.757453,-84.548611,2020-03-02 15:43:54,10927
1186195,1247319,2020-03-03 06:51:50,Condition Exists Engine Protection Torque Derate,79875897,0,1569,31,False,1,1827,36.194907,-83.174953,2020-03-03 06:51:46,10927
1186207,1247331,2020-03-03 06:59:13,Condition Exists Engine Protection Torque Derate,79875897,0,1569,31,False,1,1827,36.194861,-83.175000,2020-03-03 07:00:53,10927
1186730,1247854,2020-03-04 16:55:48,Condition Exists Engine Protection Torque Derate,79902732,0,1569,31,False,1,1868,35.587870,-86.443935,2020-03-04 16:55:44,10927
1187331,1248455,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,79932020,0,1569,31,True,5,1994,34.390740,-79.461805,2020-03-06 14:04:59,10927